<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "Better Than Most" %></title>

  <%= stylesheet_link_tag "normalize", "all" %>
  <%= javascript_include_tag  "all" %>
</head>
<body class="<%= page_classes %>">
  
<!-- nav bar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <%= active_link_to 'Home', '/' %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sports <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">NFL</a></li>
              <li><a href="#">MLB</a></li>
              <li><a href="#">NBA</a></li>
              <li><a href="#">NHL</a></li>
              <li><a href="#">Golf</a></li>
              <li><a href="#">Soccer</a></li>
              <li><a href="#">Outdoors</a></li>
              <li><a href="#">Action</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Opinions</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Authors <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Ben Wheat</a></li>
              <li><a href="#">Slave #1</a></li>
              <li><a href="#">Slave #2</a></li>
              <li><a href="#">Slave #3</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Intern #1</a></li>
              <li><a href="#">Intern #2</a></li>
              <li><a href="#">Intern #3</a></li>
            </ul>
          </li>
          <%= active_link_to 'About', 'about' %>
          <%= active_link_to 'Contact', 'contact' %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div><!-- /.container -->
</body>
</html>
