<%= image_tag "logo.jpg", id: "logo", class: "img-responsive" %>
<p class="lead">Ben's awesome tagline</p>

<% blog.articles.each do |article| %>
  <article>
    <h1><%= article.title %></h1>
    <time><%= article.date.strftime('%b %e %Y') %></time>

    <%= article.summary %>
    <a class="btn btn-default" href="<%= article.url %>">read</a>
  </article>
<% end %>
